<!DOCTYPE html>
<html lang="{{@site.locale}}">
<head>
    <meta name="Author" content="a human online, llc">
    <meta charset="utf-8">
    <title>{{@site.title}}</title>
    <link rel="stylesheet" href="{{ asset "assets/css/screen.css" }}"
    {{ghost_head}}
</head>
<body>
    {{ content }}
    
    {{ ghost_foot }}
</body>
</html>